@import "modal.css";

html {
    height: 100%;
}

body {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

* {
    font-family: 'Zen Old Mincho', serif;
}

a {
    color: black;
}

figure {
    margin: 1em;
}

figcaption {
    text-align: center;
    font-size: 0.75em;
    margin-top: 0 !important;
}

#wip {
    border: 2px solid black;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

main {
    z-index: 0;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    width: 80%;
}

main div {
    border: 2px solid black;
    margin: 2em;
    padding: 1em;
    width: 80%;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    z-index: 0;
    border-bottom: 2px solid black;
    width: 80%;
    position: sticky;
    top: 0;
}

nav li {
    display: inline-block;
    padding-left: 1em;
}

#filter {
    backdrop-filter: invert(100%);
    z-index: 1;
    position: fixed;
    bottom: 0;
    width: 100%;
}

main h1 {
    border-bottom: 2px solid black;
}